body {
    font-family: sans-serif;
}

header {
    background-color: blue;
    color: white;
}

header a {
    color: white;
}

header img {
    padding: 10px;
}

h1 {
    color: green;
}

footer {
    border-collapse: none;
    background-color: firebrick;
}

nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgrey;
}

nav a {
    margin: 60px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(90,90,90);
}

h2 {
    color: blue;
}
